html{
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #fff;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.logo{
    width: 30%;
    height: 30%;
    max-width: 140px;
    margin: 16px 0 24px;
}

.App{
    display: flex;
}

.btn-nav{
    width: 100px;
    height: 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 5px 5px;
}

.wrapper-login{
    background: linear-gradient(to right top, #757F9A 0%, #D7DDE8 100%);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 111;
}

.auth-form{
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    padding: 1.5rem 2rem;
}

.form-container{
    max-width: 22.5rem;
    width: 100%;
    margin: 4px;
    max-height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -150px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -150px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6879c2;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #6879c2;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6879c2;
}

.sidebar-toggle {
    display: block;
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    padding-left: 233px;
    margin-top: -16px;
}

.btn-rounded {
    border-radius: 100px;
}

#todoItemTitle {
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    -webkit-background-clip: text;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile-personal-info {
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.profile-info-text {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.spinner-enter {
    opacity: 0;
}
.spinner-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.spinner-exit {
    opacity: 1;
}
.spinner-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}