html{
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #fff;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #606060;
}

.App{
    display: flex;
}

.btn-nav{
    width: 100px;
    height: 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 5px 5px;
}

.login{
    background: linear-gradient(to right top, #757F9A 0%, #D7DDE8 100%);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 111;
}

.auth-form{
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    padding: 1.5rem 2rem;
}

.form-container{
    max-width: 22.5rem;
    width: 100%;
    margin: 4px;
    max-height: 100%;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.logo {
    width: 30%;
    height: 30%;
    margin-left: -10px;
    max-width: 170px;
    margin-bottom: 30px;
}

.btn-rounded {
    border-radius: 100px;
}

#todoItemTitle {
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    -webkit-background-clip: text;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.profile-personal-info {
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.profile-info-text {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.overflowHide {
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar {
    background: #7386D5;
    color: #fff;
    height: 100vh;
    transition: all 0.3s;
}

.top_section{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.sidebar-image {
    width: 120px;
    margin-left: 20px;
}

.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sidebarLink{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.sidebarLink:hover{
    color: #000;
    background:white;
}

.sidebarLink:active {
    color: #000;
    background: #fff;
}

.sidebarLink:focus {
    color: #000;
    background: #fff;
}

.active{
    color: #000;
    background: white;
}

.icon, .link_text{
    font-size: 20px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errMsg {
    background-color: lightpink;
    color: firebrick;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

/*.spinner-enter {*/
/*    opacity: 0;*/
/*}*/
/*.spinner-enter-active {*/
/*    opacity: 1;*/
/*    transition: opacity 500ms ease-in;*/
/*}*/
/*.spinner-exit {*/
/*    opacity: 1;*/
/*}*/
/*.spinner-exit-active {*/
/*    opacity: 0;*/
/*    transition: opacity 500ms ease-in;*/
/*}*/