.student {
    min-width: 285px;
    min-height: 100px;
    background-color: #fafafa;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
}